#config file
#author:Beto
#
#default folder to farm
farm_folder: '/storage/chroot/farm/'
#default folder to config
#we need to have the folow folders
#config_foler
#	-bin  
#	-config  
#	-images  
#	-scripts  
#	-templates
config_folder: '/etc/chroot/'
